body{
    background-color: #EAF6F6;
    font-size: 12pt;
    font-family: Garamondin;
}

h1{
    text-align: center;
}

#container{
    height: 100px;
    width: 80%;
    margin: 0 10% 0 10%;
    background-color: #FFFFFF;
    font-size: 36pt;
    font-weight: bold;
    font-style: initial;
    font-family: monospace;
    border: 2px solid #8EBEBE;
    border-radius: 5px;
    line-height: 100px;
    text-align: center;
}

#controls{
    text-align: center;
}

#first3{
    width: 75%;
    margin: 0 auto 0 auto;
}

#first3 div{
    float: left;
    margin-left: 15%;
    padding: 10px;
    vertical-align: top;
}

label{
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid #8EBEBE;
    display: block;
    margin-bottom: 2px;
}


.radiolabel{
    border: none;
    display: inline;
}

#input{
    clear: left;
    width: 82%;
    margin: 0 auto 0 auto;
}

textarea{
    border: solid 1px gray;
    background: #FFFFFF;

}

button{
    background: white;
    width: 70px;
    border: solid gray 1px;
}

button:disabled{
    background: lightgray;
}